@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&display=swap');

*{

   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
}
.body{
    padding-left: 140px;
    padding-right: 140px;

}
#name1{
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;
    background-image: url('Banner\ Image.png'),url('opacity.png');
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
 #name1 > h5{
    
    color: #fff;
    font-family:Merriweather;
    font-weight: 400; 
    font-size: 32px;

 }
#name1 > h2{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; width: 632px; 
}
#name2{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}
#man1 > h1{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#man1 > p{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 48px;
}
#man1 > h2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#man2{
width: 802.9px;
height: 500px;
flex-shrink: 0;
margin-top: 48px;
}


#name3{
    background-image: url('Vectorrr.png'),url('opacity.png');
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: 600px;
    /* padding: 0px 120px; */
    margin-top: 120px;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover ;
    background-repeat: no-repeat;
    gap: 16px;
}
#name3 > #nam1 > h1{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
}
#nam1{
    width: 50%;
}
#name3 > #nam1 > #cl{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
#name3 > #nam1 > button{
color: #FFF;
text-align: center;
background: transparent;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}


#name4{
background-image: url('Vector.png'); 
text-align: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 16px;
/* width: 1320px; */
height: 600px;
margin-left: auto;
margin-right: auto;
margin-top: 120px;
padding: 100px 386px 214px 385px;

}
#name4 > h3{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;

}
#name4 > h3 > #kel1{
    color: #F00;
}
#name5{
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 19px;
    display: flex;
    
}
#name .content5 div #nam1{
margin-left: 0;
}
/* #name .content5 div #nam2{

}
#name .content5 div #nam3{

} */
#name6{
    background-color: #7c6666;
    border-radius: 16px;
}
#name .content6 div #nab h6{
    color: black;
    text-align: center;
}
#name .content6 div #nab h1{
    color: black;
    text-align: center;
}
#name .content6 div #nab p{
    color: black;
    text-align: center;
}
#name7{
    background-color: antiquewhite;
    border-radius: 16px;
}
#name8{
    background-color: bisque;
    border-radius: 16px;
}
.content8{
text-align: center;    
}